<h1>Edite o seu Livro</h1>
<form action="" method="post" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Qual o nome do livro?" value="{{book.title}}">
    </div>
    <div class="form-control">
        <label for="pagety">Números de página:</label>
        <input type="number" name="pagety" placeholder="Digite o número de páginas aqui" value="{{book.page}}">
    </div>
    <input type="submit" value="Editar" class="readyBtn">
</form>
<a href="/books" class="seeBooks">Ver livros</a>