<div class="book-page">
    <div class="container">
        {{#with book}}
        <h1>{{title}}</h1>
        <p>Este livro tem {{page}} páginas</p>
        {{/with}}
        <a href="/books">Ver livros</a>
    </div>
</div>