* {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 20px;
}

h1 {
    font-size: 36px;
}

a {
    color: #000;
}

header {
    width: 100%;
    background-color: #DDD;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header > nav > ul {
    display: flex;
    flex-direction: row;

}

header > nav {
}

header > nav > ul > li {
    list-style: none;
    margin-right: 30px;
    cursor: pointer;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px; 
    background-color: #000;
    color: #FFF;
       
}

footer > p > a {
    color: #00F;
}

main {
    text-align: center;
    
}