<h1>Livros disponiveis</h1>
<div class="books-container">
    {{#each books}}
        <div class="eachBook">
            <p>#{{this.id}} - <span class="bold"><a href="/book/{{this.id}}">{{this.title}}</a></span> - 
            {{this.page}} páginas</p>
        </div>
    {{/each}}
    <a href="/" class="addBook">Adicionar livro</a>
</div>